* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    background-color: black;
}

#canvas1 {
    position: absolute;
    background: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

label {
    position: absolute;
    color: white;
}

label[for='ligand-conc'] {
    left: 10px;
}

label[for='receptor-conc'] {
    left: 10px;
    top: 30px;
}

input {
    position: absolute;
}

#ligand-conc {
    left: 40px;
    top: 5px;
}

#receptor-conc {
    left: 40px;
    top: 35px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 20%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 8px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -4px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  }
  
  input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }